HOMEPAGE_VAR_HOSTNAME=your-tailscale-hostname

HOMEPAGE_VAR_GRAFANA_USERNAME=admin
HOMEPAGE_VAR_GRAFANA_PASSWORD=changeme

HOMEPAGE_VAR_PORTAINER_KEY=generate-in-portainer-ui-my-account-access-tokens
HOMEPAGE_VAR_PORTAINER_ENV=1
